@import  url('https://fonts.googleapis.com/css2?family=Basic');
html,body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: transparent;
}

#overlay_avatar {
    display: inline-block;
    margin-left: 18px;
    z-index: 999;
}
#overlay_avatar img {
    vertical-align: middle;
    position: absolute;
    border-radius: 100%;
    height: 80px;
    z-index: 3;
    border: solid 2px #33127c;
    margin: 0 0 0 10px;
    padding: 0;
}
#overlay_username {
    text-shadow: 1px 1px #000000 !important;
    border-radius: 2px 2px 0 0;
    font-weight: bold;
    color: white;
    vertical-align: middle;
    position: absolute;
    margin-left: 60px;
    font-size: 20px !important;
    font-family: Basic !important;
    background: #33127c;
    padding: 4px 16px 4px 52px;
    z-index: 1;
    min-width: 100px;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.9);
}
#overlay_message {
    text-shadow: 1px 1px #000000 !important;
    border-radius: 0 2px 2px 2px;
    font-weight: bold;
    color: white;
    vertical-align: middle;
    position: absolute;
    margin-left: 60px;
    margin-top: 33px;
    margin-right: 50px;
    font-size: 32px !important;
    font-family: Basic !important;
    padding: 8px 60px 14px 60px;
    background: rgb(30, 29, 29);
    z-index: 2;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.9);
    min-width: 200px;
}
#overlay_message .emoticon {
    vertical-align: middle;
    height: 32px;
}